body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(320px, 1fr) repeat(3, 2fr);
    grid-template-rows: 130px 5fr;
    font-family: 'Roboto', sans-serif;
} 
header {
    display: grid;
    grid-column: 2/5;
    grid-row: 1/2;
    background-color: rgb(255, 255, 255);
    grid-template-rows: 0.5fr 0.5fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
    box-shadow: 0 4px 5px rgb(177, 177, 177);
    margin-top: 5px;
}
.header-topleft {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 40px;
}
.search-bar {
    width: 100%;
    height: 25px;
    border-radius: 13px;
    border: solid 1.5px gray;
    background-color: #EAFCFF;
    opacity: 0.7;
}
.search-bar:focus {
    outline: none !important;
    border: solid 2px #394955;
    /* box-shadow: 0 0 5px #F0986C; */
    opacity: 1;
}
.header-topright {
    display: flex;
    gap:15px;
    align-items: center;
    justify-content: center;
}
.header-topright > img:hover, .header-botleft > img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.header-topright > span {
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Vujahday Script';
}
.logo {
    width: 48px;
    height: 48px;
    grid-row: 1/3;
    grid-column: 1/2;
   
}
.header-botleft {
    display: grid;
    grid-template-columns: 60px 270px;
    grid-template-rows: 1fr 1fr;
    padding-left: 40px;
    align-items: center;
}
.header-botleft > .logo{
    padding-top: 12px;
    padding-left: 8px;
}
.hbl-first {
    grid-row:1/2;
    grid-column: 2/3;
    font-weight: 700;
    font-size: 15px;
    margin-top: 15px;
}
.hbl-second {
    grid-row: 2/3;
    font-weight: 900;
    font-size: 26px;
    font-family: 'Vujahday Script';
}
.header-botright {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 15px;
}
.header-button {
    width: 85px;
    height: 32px;
    background-color: #0E8FC7;
    color: white;
    border-radius: 13px;
    border: transparent;
    font-weight: 900;
    font-size: 15px;
}
.header-button:active{
    transform: scale(0.97);
    cursor: pointer;
}
.header-button:hover{
    opacity: 0.9;
    cursor: pointer;
}
nav {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #0e8fc7;
    padding-left: 20px;
    padding-top: 20px;
    grid-template-rows: auto 0.5fr 1fr;
    color: white;
    font-weight: 900;
    font-size: larger;
}
.nav-top{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.nav-top > img {
    height: 48px;
    width: 48px;
}
.nav-top > span {
    font-size: 28px;
}
.nav-middle > p, .nav-bot > p {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-left: 10px;
}
.nav-middle > p > img, .nav-bot > p > img {
    height: 24px;
    width: 24px;
}
.nav-middle > p > span:hover,  .nav-bot > p > span:hover {
    cursor: pointer;
    text-shadow: 0 0 5px black;
    transform: scale(1.05);
}
main {
    display: grid;
    grid-column: 2/5;
    grid-row: 2/3;
    grid-template-columns: minmax(300px, 0.9fr) 0.25fr;
    padding-bottom: 15px;
    background-color: #F0FBFF;
}
.main-topleft, .main-topright, .main-botright {
    padding: 20px 0px 10px 15px;
    font-size: 18px;
    font-weight: 900;
}
.main-topleft {
    grid-column: 1/4;
    grid-row: 1/2;
}
.main-right {
    display: grid;
    grid-row: 1/5;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    margin-right: 10px;
}
.main-left {
    grid-column: 1/2;
    grid-row: 1/5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px repeat(2, 1fr)
}
.box {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-left: 7px solid #DE5C55;
    margin: 15px 5px 10px 15px;
    border-radius: 10px;
    padding: 10px 10px 3 10px;
    box-shadow: 0 4px 5px rgb(177, 177, 177);
    background-color: white;
}
.box > p, .menu-icons {
    margin:0;
    padding: 10px;
}
.menu-icons > img:hover{
    transform: scale(1.04);
    cursor: pointer;
}
.menu-icons > img:active{
    transform: scale(0.97);
    cursor: pointer;
}
.box > p:first-of-type {
    font-size: 18px;
    font-weight: 900;
    padding-top: 20px;
}
.menu-icons {
    margin-top: auto;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.announcements, .trending {
    display: grid;
    grid-template-rows: 40px 1fr;
}
.box-top, .box-bot {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid gray;
    border-left: 7px solid #DE5C55;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 4px 5px rgb(177, 177, 177);
    background-color: white;
}
.box-top > .title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title > span {
    font-weight: 900;
    font-size: large;
}
hr {
    width: 100%;
}
.comments {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 10px;
}
.comments > div > span {
    font-weight: 900;
}

@media (max-width : 720px){
    body {
        display: grid;
        grid-template-columns: 80px repeat(3, 1fr);
        grid-template-rows: 130px 5fr;
    }
    nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 50px;
    }
    nav > .nav-top > span, nav > .nav-middle > p > span, nav > .nav-bot > p > span {
        display: none;
    }
    .nav-middle > p > img:hover,  .nav-bot > p > img:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    header {
        display: grid;
        grid-column: 2/5;
        grid-row: 1/2;
        background-color: rgb(255, 255, 255);
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-columns: 1fr;
        margin-top: 0px;
    }
    .header-topleft {
        padding: 7px; 
        gap: 5px;
    }
    .header-topleft > img {
        height: 24px;
        width: 24px;
    }
    .header-topright{
        display: none;
    }
    .header-botleft {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        height: fit-content;
        padding: 0;
    }
    .hbl-first {
        margin-top: 0;
        font-size: 12px;
    }
    .hbl-second {
        font-size: 1.2rem;
    }
    .header-botleft > img {
        width: 24px;
        height: 24px;
    }
    .header-botleft > .logo {
        padding: 0;
    }
    .header-botright {
        display: flex;
        padding: 0;
        height: fit-content;
    }
    .header-button {
        width: 64px;
        height: 22px;
        padding: 0px;
        font-weight: 900;
        font-size: 13px;
    }
    main {
        display: grid;
        grid-column: 2/5;
        grid-row: 2/3;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 15px;
        background-color: #F0FBFF;
    }
    .main-left {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .main-right {
        grid-column: 1/2;
        grid-row: auto;
    }
    .box {
        margin: 15px;
    }

}
@media (min-width : 720px) and (max-width: 1100px) {
    body {
        display: grid;
        grid-template-columns: 80px repeat(3, 1fr);
        grid-template-rows: 130px 5fr;
    }
    nav {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        width: 50px;
    }
    nav > .nav-top > span, nav > .nav-middle > p > span, nav > .nav-bot > p > span {
        display: none;
    }
    .nav-middle > p > img:hover,  .nav-bot > p > img:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    main {
        display: grid;
        grid-column: 2/5;
        grid-row: 2/3;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        padding-bottom: 15px;
        background-color: #F0FBFF;
    }
    .main-left {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
    .main-right {
        grid-column: 1/2;
        grid-row: auto;
    }
    .box {
        margin: 15px;
    }
}